description = "Featured Properties"

[property propertyRelated]
==
{% set count = 0 %}
{% for property_count in propertyRelated.related(property_id) %}
    {% set count = (count + 1) %}
{% endfor %}
{% put styles %}
    <link rel="stylesheet" href="{{ 'assets/css/partials/featured-properties.css'|theme }}" async>
    <link rel="stylesheet" href="{{ 'assets/css/partials/property.css'|theme }}" async>
{% endput %}
{% put scripts %}
    <script>
        $('.items-results').owlCarousel({
            loop: false,
            margin: 30,
            nav: true,
            pagination: false,
            dots: false,
            responsive: {
                0: {
                    items: 1,
                    loop: true
                },
                500: {
                    items: 2,
                    {% if (count > 2) %}
                    loop: true
                    {% endif %}
                },
                1200: {
                    items: 3,
                    {% if (count > 3) %}
                    loop: true
                    {% endif %}
                }
            }
        })
    </script>
{% endput %}
 
<!-- Featured Properties -->
    <section id="featured-properties" class="section wow fadeIn  ">
        <div class="container">
            <div class="title-btn flex">
                <h2 class="title">
                    {% if title %}
                        {{ title }}
                    {% else %}
                        {% component 'editable' file="featured_title/" ~ this.page.id ~ ".htm" %}
                    {% endif %}
                </h2>
                <div class="action">
                    {% if property_id %}
                    <a href="{{ 'featured-properties'|page({ 'property_id': property_id }) }}" class="btn first">
                    {% else %}
                    <a href="{{ 'featured-properties'|page({ 'page_id': this.page.id }) }}" class="btn first">
                    {% endif %}
                    View All</a>
                </div>
            </div>
            <div class="items-results owl-carousel owl-theme">
            {% for property in propertyRelated.related(property_id) %}
                {% partial 'static/property' property=property show_gallery=false %}
            {% endfor %}
        </div>
    </section>
