title = "Blog"
url = "/blog-test/:category?/:page?"
layout = "default"
meta_title = ""
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :category }}"
postsPerPage = 15
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog"
postPage = "blog/article"

[blogCategories]
slug = "{{ :category }}"
displayEmpty = 0
categoryPage = "blog/blog"
==
{# Categorias, siempre y cuando la categoria tenga al menos un blog #}
{% for category in categories %}
    <option value="{{ 'blog/blog' |page({'category': category.slug}) }}">{{ category.name }}</option>
{% endfor %}


{% set posts = blogPosts.posts %}

{% for post in posts.slice(0, 3) %} {# {% for post in posts.slice(0, posts|length) %} #}
    {% if post.featured_images|length <= 0 %}
        {% set image = 'https://via.placeholder.com/700x650/cccccc/ffffff.png' %}
    {% else %}
        {% set image = post.featured_images|first.path %}
    {% endif %}

	<a href="{{ post.url }}">
        <img src="{{ image }}" alt=""><br>
        {{ post.categories|first.name }}<br>
        {{ str_limit(post.title, 80) }}     <br>   
        {% if post.excerpt %}
            {{ str_limit(post.excerpt|striptags, 120) }}
        {% else %}
            {{ str_limit(post.content|striptags, 120) }}
        {% endif %}
	</a><br><br>
{% endfor %}

        
<!-- pagination -->
{% if posts.lastPage > 1 %}
<ul class="pagination">
    <!-- Previous Link -->
    {% if posts.currentPage > 1 %}
        <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}" aria-label="Previous"><span aria-hidden="true">Previous</span></a></li>
    {% endif %}
    <!-- Previous Link -->
    <!-- Page Item Link -->
    {% for page in 1..posts.lastPage %}
        <li {{ posts.currentPage == page ? 'class="active"' : null }}><a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a></li>
    {% endfor %}
    <!-- Page Item Link -->
    <!-- Next Link -->
    {% if posts.lastPage > posts.currentPage %}
        <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}" aria-label="Next"><span aria-hidden="true">Next</span></a></li>
    {% endif %}
    <!-- Next Link -->
</ul>
{% endif %}
<!-- pagination -->