/* Ibiza Bg */
.ibiza-bg {
  background-image: url(../../img/images/sell-00.png);
  height: 670px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

/*Mobile*/
@media screen and (max-width: 900px) {
  .ibiza-bg {
    height: 400px;
    padding-top: 0px;
    background-repeat: no-repeat;
    background-size: 280vw;
    background-position: center top;
  }
}

/* Valuation Property */
section#valuation-property {
}

/* Smart Choice */
section#smart-choice {
}

/*Mobile*/
@media screen and (max-width: 900px) {
  section#valuation-property {
  }

  section#smart-choice {
  }
}

.internal-star-journey .text {
  font-size: 22px;
  line-height: 27px;
}

.internal-hero-text .flex > *:first-child p {
  font-size: 26px;
  font-family: "Proxima Nova Thin", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 1.2;
  color: var(--c-primary);
  padding-right: 0;
  margin-bottom: 1rem;
}
