.property {
    padding: 0;
    width: 100% !important;
}

.property .bg {
    background-color: #fff;
    border: 1px solid #00000026;
    transition: all 0.25s ease-in-out 0s;
    margin-bottom: 24px;
    width: 100%;
}

.property .bg:hover {
    transform: translateY(-4px);
    box-shadow: rgb(0 0 0 / 5%) 0px 1px 1px, rgb(0 0 0 / 5%) 0px 2px 2px,
        rgb(0 0 0 / 5%) 0px 4px 4px, rgb(0 0 0 / 5%) 0px 8px 8px,
        rgb(0 0 0 / 5%) 0px 16px 16px;
}

.property .icono_flex {
    text-align: center;
    position: absolute;
    z-index: 2;
    pointer-events: none;
    display: none;
    opacity: 0.4;
}

.product-slider {
    z-index: 0;
    position: relative;
}

.property .icono_flex img {
    height: 122px;
    width: auto;
    object-fit: contain;
}

.property .imagen_flex {
    height: 254px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.property .imagen_flex a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.property .imagen_flex a:hover {
    filter: brightness(0.7);
}

.property .imagen_flex img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.property a {
    text-decoration: none;
}

.property .info_property {
    padding: 16px 36px 20px;
    cursor: pointer;
}

.property .info_property h2.titulo_flex {
    color: var(--c-primary);
    text-transform: uppercase;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0.5px;
    padding-bottom: 14px;
    margin-bottom: 14px;
    border-bottom: 1px solid rgba(60, 81, 113, 0.4);
    font-weight: 400;
}

.property .info_property .flex {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.property .info_property .flex h3 {
    line-height: 24px;
    color: var(--c-primary);
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    max-width: fit-content;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    display: -webkit-box; 
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.property .info_property .flex h4 {
    color: var(--c-primary);
    font-size: 16px;
    padding: 0;
    margin: 0;
    max-width: fit-content;
    font-weight: 400;
}

.property .info_property p {
    font-size: 12px;
    line-height: 14px;
    min-height: 42px;
    text-align: left;
    margin: 0;
    margin-bottom: 28px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.property .texto_flex {
    font-size: 0.7rem;
    padding-bottom: 10px;
}

.property .btn {
    border-radius: 0;
    background-color: #3c5171;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size: 12px;
    font-family: "Proxima Nova Regular", sans-serif;
    color: #f3f3e9;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.25s ease-in-out 0s;
    font-weight: 400;
}

.property .info-icons.flex {
    font-size: 12px;
    /* max-width: fit-content; */
    -webkit-box-pack: justify;
    /* justify-content: space-between; */
    padding: 0px 7px 24px;
}

.property .info-icons .icon-attributes {
    /* max-width: fit-content; */
    padding: 0;
}

.property .info-icons .icon-attributes .icono_property {
    min-height: 30px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
    padding: 0;
}

.property .info-icons .icon-attributes span {
    padding: 0;
}

.property .info-icons .icon-attributes .icono_property img {
    max-width: 28px;
}

@media screen and (max-width: 900px) {
    section#results {}

    .property .info-icons.flex {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 21px;
    }

    .property .info_property {
        padding-bottom: 30px;
        padding-top: 25px;
    }

    .property .info-icons .icon-attributes .icono_property {
        margin-bottom: 4px;
    }

    section#results .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .property {}

    .property .bg {}

    .property .icono_flex {}

    .property .icono_flex img {}

    .property .imagen_flex {}

    .property .imagen_flex img {}

    .property .titulo_flex {}

    .property .texto_flex {}

    .property .btn {}

    .property .info_property p {
        min-height: initial;
        height: 42px;
        overflow: hidden;
    }
}