/* Ibiza Bg */
.ibiza-bg {
  /* background-image: url(../../img/images/bg-01.jpg); */
  background-size: cover;
  min-height: 670px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  max-width: 100vw;
  background-position: center 30%;
}

.internal-star-journey .text {
  font-size: 22px;
  line-height: 27px;
}

@media screen and (max-width: 900px){
  section#search-home .container{}
}